* {
    margin: 0;
    padding: 0;
}

input {
    position: relative;
    width: 78px; 
    left: 10px;
}

#nameplate {
    position: relative;
    left: 20px;
}

#instructions {
    width: 300px;   
}

.swatch-wrapper {
    position: absolute;
    height: 600px;
    left: 25%;
}

.swatch-color {
    position: relative;
    margin: auto;
    height: 350px;
    width: 350px;
    top: 20px;
}

.swatch-nametag {
    position: relative;
    height: 100px;
    width: inherit;
    top: 350px;
    border-color: black;
    border-style: solid;
    border-top-style: none;
    border-width: 1px;
    background-color: white;
}

.nametag-random:hover {
    cursor: pointer;
    background-color: rgb(200, 200, 200);
}

.swatch-copy {
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 25px;
    line-height: 27px;
}

#random-swatch {
/*    background-color: rgb(186, 168, 193);   */
}

#random-swatch {
    z-index: 2;
}

.color {
    position: relative;
    height: 100px;
    width: 100px;
    top: 20px;
    margin-bottom: 60px;
}

.color-nametag {
    position: relative;
    height: 30px;
    width: inherit;
    top: 100px;
    border-color: black;
    border-style: solid;
    border-top-style: none;
    border-width: 1px;
}

.color-copy {
    position: relative;
    top: -15px;
    left: 5px;
    background-color: white;
    z-index: -1;
}

#color-r {
    background-color: rgb(255, 0, 0);
}

#color-g {
    background-color: rgb(0, 255, 0);
}

#color-b {
    background-color: rgb(0, 0, 255);
}